body  {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.cautare {
    display: flex;
    overflow-x: scroll;
    position: sticky;
    top: 0px;
    z-index: 1000;
    margin-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.85);
}

.cautare::-webkit-scrollbar {
    display: none;
  }

#cocktails:target {
    padding-top: 60px; /* Adăugăm un padding-top de 50px */
    display: block; /* Asigură afișarea corectă a conținutului */
    margin-top: -40px; /* Compensează adăugarea padding-ului */
  }

#coffee:target {
    padding-top: 50px; 
    display: block; 
    margin-top: -40px; 
}

a {
    text-decoration: none;
    color: black;
}

.item {
    min-width: 100px;
    height: 40px;
    align-content: center;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: gray;
    margin-right: 7px;
    background-color: rgb(227, 219, 219);
    font-weight: 600;
}

.top {
    background-image: url("Images/352831968_726538862809664_3003767471845223023_n.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 100px;
    margin: auto;
}

.top h2 {
    color: white;
}

.produs {
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 15px;
    box-shadow: 6px 6px;

}

.produs img {
    display: inline-block;
    height: 100%;
}

.detalii {
    display: inline-block;
    margin-left: 5px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 0;
}

.cantitate {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 15px;
}

.pret {
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 0;
    font-size: 20px;
}

.categorie h3 {
    margin-left: 10px;
}